<div class="container">
<%= form_for :user, url: new_user_registration_path, html: {class: "signup-form"}  do |f| %>
<h2 class="form-signup-heading text-center">Please Sign up</h2>
  <%= devise_error_messages! %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", autofocus: true %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    <br />
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
