<h1 class="text-center"><%= t('.Videos', default:'All Videos') %></h1>
<div class="videos">
  <% @videos.each do |video| %>
    <div class="media video-<%= video.id %> video">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag(video.thumbnail_url || "administrate/search.svg", alt: "READSS", width: "100px", height: "60px") %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= video.title %>
          <%= video_redeem_status(video) %>
        </h4>
        <p>
          <span>views: <%= video.view_count %></span>
          <span>likes: <%= video.like_count %></span>
          <span>favorite: <%= video.favorite_count %></span>
        </p>
      </div>
    </div>
  <% end %>
</div>
