  <h1 class="text-center">Videos</h1>

  <% @videos.each do |video| %>
    <h3>
      <%= video.title %>
      <%= video_redeem_status(video) %>
    </h3>
    <p><%= video.summary %></p>
    <div>
      <span>views: <%= video.view_count %></span>
      <span>likes: <%= video.like_count %></span>
      <span>favorite: <%= video.favorite_count %></span>
    </div>
    <div class="embed-responsive embed-responsive-16by9" >
    <%= video_content(video) %>
    </div>
  <% end %>
