<p>
  <h2><strong><%= @video.title %></strong></h2>
  <%= link_to 'Back', videos_path, class: "btn btn-primary" %>
</p>
<p>
  <%= render partial: 'videos/embed_video.html.erb' %>
</p>
<p>
<span>views: <%= @video.view_count %></span>
  <span>likes: <%= @video.like_count %></span>
  <span>favorite: <%= @video.favorite_count %></span>
</p>
<p id="summary">
  <strong><%= t('videos.summary', default: 'Summary') %>:</strong>
  <%= raw @video.summary %>
</p>

<%= render partial: 'videos/disqus.html.erb' %>
