<p>
  <strong><%= t('videos.title', default: 'Title') %>:</strong>
  <%= @video.title %>
</p>

<p id="summary">
  <strong><%= t('videos.summary', default: 'Summary') %>:</strong>
  <%= raw @video.summary %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
